h1 {
    background-color: rgb(194, 255, 168);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1%;
    margin-bottom: 0;
}

main {
    background-color: rgb(189, 221, 232);
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}

